OPENREADER_ADDR=:8080
OPENREADER_DATA_DIR=data
OPENREADER_CACHE_DIR=cache
OPENREADER_LIBRARY_DIR=library
OPENREADER_DB=data/openreader.db
OPENREADER_JWT_SECRET=change-this-before-deploy
OPENREADER_CORS_ORIGIN=http://localhost:5173
OPENREADER_PUBLIC_DIR=public
